* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: black;
  background-color: #5F634F;
  overflow-x: hidden; /* evita overflow lateral */
}

#fim {
  padding: 50px;
}

#inicio {
  height: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

#quadrado {
  text-align: center;
  max-width: 1100px;
  height:%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #CFE8C9;
}

#titlediv {
  display: flex;
  width: 100%;
  justify-content: center;
}

#titletexto {
  max-width: 800px;
  color:#5D3A00;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#nossa {
  padding: 20px;
}

#textocaixa {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;
}

#texto {
  max-width: 1200px;
  font-size: 24px;
  line-height: 1.6;
  font-family: "Georgia", serif;
  color:black;
  text-align: justify;
}

/* imagem  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 100px;
  height: 800px;
  box-sizing: border-box;
}

.foto {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  max-width: auto;
  height:auto;
}

.imagem {
  border-radius: 10px;
  height: auto;
  max-width: 100%;
  width:100%;
}

#texto1 {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  box-sizing: border-box;
}

.descricao {
  max-width: 740px;
  margin-top: 15px;
  color: #e9e3d0;
  text-align: center;
  font-size: 23px;
}

.escritas {
  padding: 11px;
  color: #e9e3d0;
  text-align: justify;
  font-size: 22px;
}
#linkreserve {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o link na tela */
  align-items: center;     /* Centraliza verticalmente */
}

#linkbonito {
  display: flex;
  align-items: center;     /* Centraliza verticalmente imagem e texto */
  text-decoration: none;
  color: black;
}

#imgdivab {
  padding: 10px;
}

#imgab {
  height: 50px;
}
a{
  text-decoration: none;
  color: black ;
}
#linkbonito:hover{
	transform: translateY(-2px);
	background-color: #b7d7ae;
}



@media screen and (max-width: 768px) {
  #fim {
    padding: 100px 20px;
  }

  #inicio {
    flex-direction: column;
    padding: 0 15px;
	height:auto;
  }

  .container {
    flex-direction: column;
    padding: 40px 20px;
	height:auto;
  }

  #titletexto {
    font-size: 24px;
    padding: 10px;
  }

  #texto {
    font-size: 18px;
  }

  .descricao {
    font-size: 18px;
  }

  .escritas {
    font-size: 18px;
  }
  .foto{
	  padding-top:50px;
  }
}
